ConsoleApp1/bin/
ConsoleApp1/obj/
ConsoleApp2/bin/
ConsoleApp2/obj/
Day01/bin/
Day01/obj/
Day02/bin/
Day02/obj/
FrameTest/bin/
FrameTest/obj/
RedisDemo/bin/
RedisDemo/obj/
RedisLibrary/bin/
RedisLibrary/obj/